@model IEnumerable<F2022SchoolDb.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Teacher/New">New Teacher</a>
    </nav>
    <h2>List of Teachers</h2>

    <form action="/Teacher/List" method="get">
        <input type="text" name="Searchkey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>

    @foreach(var Teacher in Model)
     {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@Teacher.teacherid">@Teacher.teacherfname @Teacher.teacherlname</a></div>
        </div>
     }
</div>
