@model F2022SchoolDb.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>@Model.teacherfname</h2> <h2>@Model.teacherlname</h2>
    <p>@Model.employeenumber</p>
    <p>@Model.hiredate</p>
</div>

